

.card {
  position: relative;
  background-color: #fff;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  width: 350px;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  user-select: none;
}

.card-price {

  font-size: 16px;
  color: #888;
  margin-bottom: 15px;
  user-select: none;
}

.card-colors {
  margin-bottom: 15px;
}

.card-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  border: 2px solid #fff;
}

/* Gender Tag Styling */
.card-gender {
  display: inline-block;
  font-size: 14px;
  padding: 5px 10px;
  background-color: #f0f0f0;
  border-radius: 20px;
  margin-bottom: 10px;
  user-select: none;
}

.discount-badge {
  position: absolute;
  top: 10px;
  right: 1px;
  background-color: #e74c3c;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 8px 12px;

}

.stock-status {
    font-size: 12px;
    text-align: center;
    padding: 10px;
    user-select: none;

  }

/* Responsive Styles */
@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%;
  }
}


.highlightedCard {
  border:1px solid rgb(0,0,0,0.1);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
  scale:1.01;


}

.product-not-available{
  opacity: 0.5;
}
