
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;

}
/* Container for Cards */
.cards-container {

  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  justify-content: center;

}

.divEmptyCheck:empty{
  display: none;
}


