<div class="navbar">
  <p routerLink="Home" class="brand-name">eKart</p>
  <div class="links">
    <a routerLink="Home" [routerLinkActive]="'activeLink'" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a routerLink="About" [routerLinkActive]="'activeLink'" [routerLinkActiveOptions]="{exact:true}">About</a>
    <a routerLink="Products" [routerLinkActive]="'activeLink'" [routerLinkActiveOptions]="{exact:true}">Products</a>
    <a routerLink="Contact" [routerLinkActive]="'activeLink'" [routerLinkActiveOptions]="{exact:true}">Contact</a>
    <a  routerLink="Cart" [routerLinkActive]="'activeLink'" [routerLinkActiveOptions]="{exact:true}">My Cart</a>
    <a *ngIf="!loggedInFlag" routerLink="Login" [routerLinkActive]="'activeLink'" [routerLinkActiveOptions]="{exact:true}">Login</a>
    <a *ngIf="loggedInFlag" (click)="logout()">Logout</a>
  </div>
</div>

