<body>
  <div class="cart-container">


    <h2>Shopping Cart</h2>


    <ng-container *ngIf="cartItems.length > 0; else emptyCart">
    <div class="cart-items">
      <div *ngFor="let item of cartItems" class="cart-item">
        <img [src]="item.imageUrl" alt="{{item.name}}" class="cart-item-image">
        <div class="cart-item-details">
          <h3>{{item.name}}</h3>
          <p>Gender: {{item.gender}}</p>
          <div class="cart-item-colors">
            <span *ngFor="let color of item.colors" class="cart-item-color" [style.background-color]="color"></span>
          </div>
          <p class="cart-item-price">
            <span [ngStyle]="{'text-decoration':item.discountedPrice?'line-through':'none'}">
              ${{item.price}}
            </span>
            <span *ngIf="item.discountedPrice">
              ${{item.price - (item.price * item.discountedPrice / 100)}}
            </span>
          </p>
          <div class="cart-item-quantity">
            <button (click)="decreaseQuantity(item)">-</button>
            <span>{{item.quantity}}</span>
            <button (click)="increaseQuantity(item)">+</button>
          </div>
          <!-- <p *ngIf="item.isInInventory">In Stock: {{item.itemsLeft}} left</p> -->
          <!-- <p *ngIf="!item.isInInventory" class="out-of-stock">Out of Stock</p> -->
        </div>
        <button (click)="removeItem(item)" class="delete-button">Remove</button>
      </div>
    </div>
    </ng-container>


    <div *ngIf="calculateTotal()>0" class="cart-total">
      <h3>Total: ${{calculateTotal()}}</h3>
    </div>

    <ng-template #emptyCart>
      <div class="empty-cart">
        <p>Your cart is empty.</p>
        <a routerLink='/Products' class="continue-shopping">Continue Shopping</a>
      </div>
    </ng-template>
  </div>
</body>



