/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.activeLink{
  font-weight: bold;
}
.normalbtn{
  padding: 10px;
  color: white;
  background-color: #333;
  font-size: 15px;
  border-radius: 8px;
  margin-top: 30px;
}
